.settings{
    display: flex;
    align-items: center;
}

.s-left{
    display: flex;
    flex: 1;
}
.s-left svg{
    font-size: 18px;
}
.s-right{
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
}