
.header{
 display: grid;
 grid-template-columns: 250px auto 200px;
 height: 50px;
 padding: 10px;
}
.h-left{
    display: flex;
    align-items: center;
    flex: 1;
}
.h-left img{
    height: auto;
    width: 90px;
}
.h-middle{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #dbf0fd;
    border-radius: 50px;
    padding: 0 10px;
}
.h-middle input{
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 17px;
}
.h-right{
    display: flex;
    align-items: center;
}

